apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  annotations:
    policy.open-cluster-management.io/categories: CM Configuration Management
    policy.open-cluster-management.io/controls: CM-2 Baseline Configuration
    policy.open-cluster-management.io/standards: NIST SP 800-53
  name: model-prerequisites
  namespace: openshift-acm-policies
spec:
  dependencies:
  - apiVersion: policy.open-cluster-management.io/v1
    compliance: Compliant
    kind: Policy
    name: model-catalogsources
    namespace: openshift-acm-policies
  disabled: false
  remediationAction: enforce
  policy-templates:
  - objectDefinition:
      apiVersion: policy.open-cluster-management.io/v1
      kind: ConfigurationPolicy
      metadata:
        name: model-prerequisites
      spec:
        evaluationInterval:
          compliant: 2h
          noncompliant: 45s
        object-templates:
        # Install Node Feature Discovery (NFD) Operator
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: v1
            kind: Namespace
            metadata:
                name: openshift-nfd
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: operators.coreos.com/v1
            kind: OperatorGroup
            metadata:
              name: nfd
              namespace: openshift-nfd
            spec:
              targetNamespaces:
              - openshift-nfd
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: operators.coreos.com/v1alpha1
            kind: Subscription
            metadata:
              name: nfd
              namespace: openshift-nfd
            spec:
              channel: stable
              installPlanApproval: Automatic
              name: nfd
              source: {{ catalog_mirror }}
              sourceNamespace: openshift-marketplace
        # Create NodeFeatureDiscovery Instance
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: nfd.openshift.io/v1
            kind: NodeFeatureDiscovery
            metadata:
              name: nfd-instance
              namespace: openshift-nfd
            spec:
              workerConfig:
                configData: |
                  core:
                  #  labelWhiteList:
                  #  noPublish: false
                    sleepInterval: 60s
                  #  sources: [all]
                  #  klog:
                  #    addDirHeader: false
                  #    alsologtostderr: false
                  #    logBacktraceAt:
                  #    logtostderr: true
                  #    skipHeaders: false
                  #    stderrthreshold: 2
                  #    v: 0
                  #    vmodule:
                  ##   NOTE: the following options are not dynamically run-time 
                  ##          configurable and require a nfd-worker restart to take effect
                  ##          after being changed
                  #    logDir:
                  #    logFile:
                  #    logFileMaxSize: 1800
                  #    skipLogHeaders: false
                  sources:
                  #  cpu:
                  #    cpuid:
                  ##     NOTE: whitelist has priority over blacklist
                  #      attributeBlacklist:
                  #        - "BMI1"
                  #        - "BMI2"
                  #        - "CLMUL"
                  #        - "CMOV"
                  #        - "CX16"
                  #        - "ERMS"
                  #        - "F16C"
                  #        - "HTT"
                  #        - "LZCNT"
                  #        - "MMX"
                  #        - "MMXEXT"
                  #        - "NX"
                  #        - "POPCNT"
                  #        - "RDRAND"
                  #        - "RDSEED"
                  #        - "RDTSCP"
                  #        - "SGX"
                  #        - "SSE"
                  #        - "SSE2"
                  #        - "SSE3"
                  #        - "SSE4.1"
                  #        - "SSE4.2"
                  #        - "SSSE3"
                  #      attributeWhitelist:
                  #  kernel:
                  #    kconfigFile: "/path/to/kconfig"
                  #    configOpts:
                  #      - "NO_HZ"
                  #      - "X86"
                  #      - "DMI"
                    pci:
                      deviceClassWhitelist:
                        - "0200"
                        - "03"
                        - "12"
                      deviceLabelFields:
                  #      - "class"
                        - "vendor"
                  #      - "device"
                  #      - "subsystem_vendor"
                  #      - "subsystem_device"
                  #  usb:
                  #    deviceClassWhitelist:
                  #      - "0e"
                  #      - "ef"
                  #      - "fe"
                  #      - "ff"
                  #    deviceLabelFields:
                  #      - "class"
                  #      - "vendor"
                  #      - "device"
                  #  custom:
                  #    - name: "my.kernel.feature"
                  #      matchOn:
                  #        - loadedKMod: ["example_kmod1", "example_kmod2"]
                  #    - name: "my.pci.feature"
                  #      matchOn:
                  #        - pciId:
                  #            class: ["0200"]
                  #            vendor: ["15b3"]
                  #            device: ["1014", "1017"]
                  #        - pciId :
                  #            vendor: ["8086"]
                  #            device: ["1000", "1100"]
                  #    - name: "my.usb.feature"
                  #      matchOn:
                  #        - usbId:
                  #          class: ["ff"]
                  #          vendor: ["03e7"]
                  #          device: ["2485"]
                  #        - usbId:
                  #          class: ["fe"]
                  #          vendor: ["1a6e"]
                  #          device: ["089a"]
                  #    - name: "my.combined.feature"
                  #      matchOn:
                  #        - pciId:
                  #            vendor: ["15b3"]
                  #            device: ["1014", "1017"]
                  #          loadedKMod : ["vendor_kmod1", "vendor_kmod2"]
              operand:
                imagePullPolicy: IfNotPresent
                servicePort: 12000
        # Install cert-manager for Red Hat OpenShift
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: v1
            kind: Namespace
            metadata:
                name: cert-manager-operator
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: operators.coreos.com/v1
            kind: OperatorGroup
            metadata:
              name: cert-manager-operator
              namespace: cert-manager-operator
            spec:
              targetNamespaces:
              - cert-manager-operator
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: operators.coreos.com/v1alpha1
            kind: Subscription
            metadata:
              name: openshift-cert-manager-operator
              namespace: cert-manager-operator
            spec:
              channel: stable-v1
              installPlanApproval: Automatic
              name: openshift-cert-manager-operator
              source: {{ mirror_rh_operator_catalog }}
              sourceNamespace: openshift-marketplace
        # Install Service Mesh Operator
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: operators.coreos.com/v1alpha1
            kind: Subscription
            metadata:
              name: servicemeshoperator3
              namespace: openshift-operators
            spec:
              channel: stable
              installPlanApproval: Automatic
              name: servicemeshoperator3
              source: {{ catalog_mirror }}
              sourceNamespace: openshift-marketplace

        # Install Red Hat Connectivity Link (RHCL)
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: operators.coreos.com/v1alpha1
            kind: Subscription
            metadata:
              name: rhcl-operator
              namespace: openshift-operators
            spec:
              channel: stable
              installPlanApproval: Automatic
              name: rhcl-operator
              source: {{ catalog_mirror }}
              sourceNamespace: openshift-marketplace
        # Install Leader Worker Set Operator
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: v1
            kind: Namespace
            metadata:
                name: openshift-lws-operator
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: operators.coreos.com/v1
            kind: OperatorGroup
            metadata:
              name: openshift-lws-operator
              namespace: openshift-lws-operator
            spec:
              targetNamespaces:
              - openshift-lws-operator
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: operators.coreos.com/v1alpha1
            kind: Subscription
            metadata:
              name: leader-worker-set
              namespace: openshift-lws-operator
            spec:
              channel: stable-v1.0
              installPlanApproval: Automatic
              name: leader-worker-set
              source: {{ catalog_mirror }}
              sourceNamespace: openshift-marketplace
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: operator.openshift.io/v1
            kind: LeaderWorkerSetOperator
            metadata:
              name: cluster
            spec:
              logLevel: Normal
              operatorLogLevel: Normal
              managementState: Managed
        # Install Red Hat OpenShift AI
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: v1
            kind: Namespace
            metadata:
                name: redhat-ods-operator
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: operators.coreos.com/v1
            kind: OperatorGroup
            metadata:
              name: rhods-operator-group
              namespace: redhat-ods-operator
            spec: {}
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: operators.coreos.com/v1alpha1
            kind: Subscription
            metadata:
              name: rhods-operator
              namespace: redhat-ods-operator
            spec:
              channel: fast-3.x
              name: rhods-operator
              source: {{ catalog_mirror }}
              sourceNamespace: openshift-marketplace
              installPlanApproval: Automatic
