apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  annotations:
    policy.open-cluster-management.io/categories: CM Configuration Management
    policy.open-cluster-management.io/controls: CM-2 Baseline Configuration
    policy.open-cluster-management.io/standards: NIST SP 800-53
  name: model-configuration
  namespace: openshift-acm-policies
spec:
  dependencies:
  - apiVersion: policy.open-cluster-management.io/v1
    compliance: Compliant
    kind: Policy
    name: model-operators-crd-ready
    namespace: openshift-acm-policies
  disabled: false
  remediationAction: enforce
  policy-templates:
  - objectDefinition:
      apiVersion: policy.open-cluster-management.io/v1
      kind: ConfigurationPolicy
      metadata:
        name: model-configuration
      spec:
        evaluationInterval:
          compliant: 2h
          noncompliant: 45s
        object-templates:
        # Create DataScienceCluster with KServe Only
        - complianceType: mustonlyhave
          metadataComplianceType: musthave
          objectDefinition:
            apiVersion: datasciencecluster.opendatahub.io/v1
            kind: DataScienceCluster
            metadata:
              name: default-dsc
            spec:
              components:
                codeflare:
                  managementState: Removed
                dashboard:
                  managementState: Removed
                datasciencepipelines:
                  managementState: Removed
                kserve:
                  managementState: Managed
                kueue:
                  managementState: Removed
                modelmeshserving:
                  managementState: Removed
                ray:
                  managementState: Removed
                trainingoperator:
                  managementState: Removed
                trustyai:
                  managementState: Removed
                workbenches:
                  managementState: Removed
